.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

hr {
    width: 100%;
}

.world-cup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.groups {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    align-items: flex-start;
    margin-bottom: 2em;
}

.group {
    display: flex;
    width: 35em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

.teams-logo-container {
    width: 5em;
}

.teams-logos {
    height: 3em;
}
