.symbols-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.symbols {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    flex-wrap: wrap;
}

.pet-ball {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3em;
    flex-wrap: wrap;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol-img {
    width: 15em;
}

.song-cover {
    width: 30em;
}
