.team-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.squad {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding-inline-start: 0;
    padding: 2em;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.player-photo {
    height: 8em;
}
