.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.team-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-logo {
    width: 10em;
}

.squad {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 2em;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 0.15em solid;
    width: 15em;
    height: 20em;
    padding: 1em;
    border-radius: 1em;
}

.player-photo {
    height: 8em;
    outline: 0.2em silver solid;
    outline-offset: -3px;
    border-radius: 50%;
}
